body {background: lightcyan; font-family: "Times New Roman";}
h1 {text-align: center; font-family: 'Times New Roman', Times, serif;}
h2 {text-align: center; font-family: 'Times New Roman', Times, serif;}
h3 {text-align: left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
table, th, td {border: 1px solid;}